<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.PasswordManageUserCredentialMapper">
    
    <resultMap type="PasswordManageUserCredential" id="PasswordManageUserCredentialResult">
        <result property="id"    column="id"    />
        <result property="passwordManageUserId"    column="password_manage_user_id"    />
        <result property="platformName"    column="platform_name"    />
        <result property="accountIv"    column="account_iv"    />
        <result property="accountCipher"    column="account_cipher"    />
        <result property="passwordIv"    column="password_iv"    />
        <result property="passwordCipher"    column="password_cipher"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectPasswordManageUserCredentialVo">
        select id, password_manage_user_id, platform_name, account_iv, account_cipher, password_iv, password_cipher, create_time from password_manage_user_credential
    </sql>

    <select id="selectPasswordManageUserCredentialList" parameterType="PasswordManageUserCredential" resultMap="PasswordManageUserCredentialResult">
        <include refid="selectPasswordManageUserCredentialVo"/>
        <where>  
            <if test="passwordManageUserId != null "> and password_manage_user_id = #{passwordManageUserId}</if>
            <if test="platformName != null  and platformName != ''"> and platform_name like concat('%', #{platformName}, '%')</if>
            <if test="accountIv != null  and accountIv != ''"> and account_iv = #{accountIv}</if>
            <if test="accountCipher != null  and accountCipher != ''"> and account_cipher = #{accountCipher}</if>
            <if test="passwordIv != null  and passwordIv != ''"> and password_iv = #{passwordIv}</if>
            <if test="passwordCipher != null  and passwordCipher != ''"> and password_cipher = #{passwordCipher}</if>
            <if test="1 == 1"> and is_deleted = 0</if>
        </where>
    </select>
    
    <select id="selectPasswordManageUserCredentialById" parameterType="Long" resultMap="PasswordManageUserCredentialResult">
        <include refid="selectPasswordManageUserCredentialVo"/>
        where id = #{id} and is_deleted = 0
    </select>

    <insert id="insertPasswordManageUserCredential" parameterType="PasswordManageUserCredential" useGeneratedKeys="true" keyProperty="id">
        insert into password_manage_user_credential
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="passwordManageUserId != null">password_manage_user_id,</if>
            <if test="platformName != null and platformName != ''">platform_name,</if>
            <if test="accountIv != null and accountIv != ''">account_iv,</if>
            <if test="accountCipher != null and accountCipher != ''">account_cipher,</if>
            <if test="passwordIv != null and passwordIv != ''">password_iv,</if>
            <if test="passwordCipher != null and passwordCipher != ''">password_cipher,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="passwordManageUserId != null">#{passwordManageUserId},</if>
            <if test="platformName != null and platformName != ''">#{platformName},</if>
            <if test="accountIv != null and accountIv != ''">#{accountIv},</if>
            <if test="accountCipher != null and accountCipher != ''">#{accountCipher},</if>
            <if test="passwordIv != null and passwordIv != ''">#{passwordIv},</if>
            <if test="passwordCipher != null and passwordCipher != ''">#{passwordCipher},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updatePasswordManageUserCredential" parameterType="PasswordManageUserCredential">
        update password_manage_user_credential
        <trim prefix="SET" suffixOverrides=",">
            <if test="passwordManageUserId != null">password_manage_user_id = #{passwordManageUserId},</if>
            <if test="platformName != null and platformName != ''">platform_name = #{platformName},</if>
            <if test="accountIv != null and accountIv != ''">account_iv = #{accountIv},</if>
            <if test="accountCipher != null and accountCipher != ''">account_cipher = #{accountCipher},</if>
            <if test="passwordIv != null and passwordIv != ''">password_iv = #{passwordIv},</if>
            <if test="passwordCipher != null and passwordCipher != ''">password_cipher = #{passwordCipher},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <!-- <delete id="deletePasswordManageUserCredentialById" parameterType="Long">
        delete from password_manage_user_credential where id = #{id}
    </delete> -->

    <update id="deletePasswordManageUserCredentialById" parameterType="Long">
        update password_manage_user_credential set is_deleted = 1
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </update>

    <!-- <delete id="deletePasswordManageUserCredentialByIds" parameterType="String">
        delete from password_manage_user_credential where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete> -->

    <update id="deletePasswordManageUserCredentialByIds" parameterType="String">
        update password_manage_user_credential set is_deleted = 1 where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>