<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.password_manage.mapper.PasswordManageTeamMapper">
    
    <resultMap type="PasswordManageTeam" id="PasswordManageTeamResult">
        <result property="id"    column="id"    />
        <result property="teamName"    column="team_name"    />
        <result property="createUserId"    column="create_user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="nickName"    column="nick_name"    />
        <result property="randomSalt"    column="random_salt"    />
        <result property="encryptedTeamKeyIv"    column="encrypted_team_key_iv"    />
        <result property="encryptedTeamKeyCipher"    column="encrypted_team_key_cipher"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDeleted"    column="is_deleted"    />
    </resultMap>

    <sql id="selectPasswordManageTeamVo">
        select id, team_name, create_user_id, user_name, nick_name, random_salt, encrypted_team_key_iv, encrypted_team_key_cipher, remark, create_time, update_time, is_deleted from password_manage_team
    </sql>

    <select id="selectPasswordManageTeamList" parameterType="PasswordManageTeam" resultMap="PasswordManageTeamResult">
        <include refid="selectPasswordManageTeamVo"/>
        <!-- <where>  
            <if test="teamName != null  and teamName != ''"> and team_name like concat('%', #{teamName}, '%')</if>
            <if test="createUserId != null "> and create_user_id = #{createUserId}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="nickName != null  and nickName != ''"> and nick_name like concat('%', #{nickName}, '%')</if>
            <if test="randomSalt != null  and randomSalt != ''"> and random_salt = #{randomSalt}</if>
            <if test="encryptedTeamKeyIv != null  and encryptedTeamKeyIv != ''"> and encrypted_team_key_iv = #{encryptedTeamKeyIv}</if>
            <if test="encryptedTeamKeyCipher != null  and encryptedTeamKeyCipher != ''"> and encrypted_team_key_cipher = #{encryptedTeamKeyCipher}</if>
            <if test="isDeleted != null "> and is_deleted = #{isDeleted}</if>
        </where> -->
        where create_user_id = #{id} and is_deleted = 0
    </select>
    
    <select id="selectPasswordManageTeamById" parameterType="Long" resultMap="PasswordManageTeamResult">
        <include refid="selectPasswordManageTeamVo"/>
        where id = #{id}
    </select>

    <insert id="insertPasswordManageTeam" parameterType="PasswordManageTeam" useGeneratedKeys="true" keyProperty="id">
        insert into password_manage_team
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="teamName != null and teamName != ''">team_name,</if>
            <if test="createUserId != null">create_user_id,</if>
            <if test="userName != null and userName != ''">user_name,</if>
            <if test="nickName != null and nickName != ''">nick_name,</if>
            <if test="randomSalt != null and randomSalt != ''">random_salt,</if>
            <if test="encryptedTeamKeyIv != null and encryptedTeamKeyIv != ''">encrypted_team_key_iv,</if>
            <if test="encryptedTeamKeyCipher != null and encryptedTeamKeyCipher != ''">encrypted_team_key_cipher,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDeleted != null">is_deleted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="teamName != null and teamName != ''">#{teamName},</if>
            <if test="createUserId != null">#{createUserId},</if>
            <if test="userName != null and userName != ''">#{userName},</if>
            <if test="nickName != null and nickName != ''">#{nickName},</if>
            <if test="randomSalt != null and randomSalt != ''">#{randomSalt},</if>
            <if test="encryptedTeamKeyIv != null and encryptedTeamKeyIv != ''">#{encryptedTeamKeyIv},</if>
            <if test="encryptedTeamKeyCipher != null and encryptedTeamKeyCipher != ''">#{encryptedTeamKeyCipher},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
         </trim>
    </insert>

    <update id="updatePasswordManageTeam" parameterType="PasswordManageTeam">
        update password_manage_team
        <trim prefix="SET" suffixOverrides=",">
            <if test="teamName != null and teamName != ''">team_name = #{teamName},</if>
            <if test="createUserId != null">create_user_id = #{createUserId},</if>
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="nickName != null and nickName != ''">nick_name = #{nickName},</if>
            <if test="randomSalt != null and randomSalt != ''">random_salt = #{randomSalt},</if>
            <if test="encryptedTeamKeyIv != null and encryptedTeamKeyIv != ''">encrypted_team_key_iv = #{encryptedTeamKeyIv},</if>
            <if test="encryptedTeamKeyCipher != null and encryptedTeamKeyCipher != ''">encrypted_team_key_cipher = #{encryptedTeamKeyCipher},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="deletePasswordManageTeamById" parameterType="Long">
        update password_manage_team set is_deleted = 1 where id = #{id}
    </update>

    <delete id="deletePasswordManageTeamByIds" parameterType="String">
        delete from password_manage_team where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>