<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.password_manage.mapper.PasswordManageTeamRoleMapper">
    
    <resultMap type="PasswordManageTeamRole" id="PasswordManageTeamRoleResult">
        <result property="id" column="id"/>
        <result property="teamName" column="team_name"/>
        <result property="teamId" column="team_id"/>
        <result property="userName" column="user_name"/>
        <result property="userId" column="user_id"/>
        <result property="teamRole" column="team_role"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <resultMap type="com.ruoyi.password_manage.domain.PasswordManageTeam" id="PasswordManageTeamResult">
        <result property="id" column="id"/>
        <result property="teamName" column="team_name"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="userName" column="user_name"/>
        <result property="nickName" column="nick_name"/>
        <result property="randomSalt" column="random_salt"/>
        <result property="teamPassword" column="team_password"/>
        <result property="encryptedTeamKeyCipher" column="encrypted_team_key_cipher"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <resultMap type="com.ruoyi.password_manage.domain.vo.PasswordManageMemberVo" id="PasswordManageMemberVoResult">
        <result property="passwordManageUserId" column="password_manage_user_id"/>
        <result property="deptId" column="dept_id"/>
        <result property="userName" column="user_name"/>
        <result property="nickName" column="nick_name"/>
        <result property="email" column="email"/>
        <result property="avatar" column="avatar"/>
        <result property="phonenumber" column="phonenumber"/>
        <result property="status" column="status"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectPasswordManageTeamRoleVo">
        select id, team_name, team_id, user_name, user_id, team_role, is_deleted, create_time, update_time from password_manage_team_role
    </sql>

    <!-- <sql id="selectSysUserVo">
        select u.user_id, u.dept_id, u.user_name, u.nick_name, u.email, u.avatar, u.phonenumber, u.password, u.sex, u.status, u.del_flag, u.login_ip, u.login_date, u.pwd_update_date, u.create_by, u.create_time, u.update_by, u.update_time, u.remark, 
        from sys_user u
    </sql> -->

    <select id="selectPasswordManageTeamRoleList" parameterType="Long" resultMap="PasswordManageMemberVoResult">
        select t.password_manage_user_id,t.dept_id,t.user_name,t.nick_name,t.email,t.phonenumber,t.sex,t.remark,t.status
        from password_manage_team_role r left join 
            (select pu.id as password_manage_user_id, u.dept_id, u.user_name, u.nick_name, u.email, u.phonenumber, u.sex, u.remark,u.status
            from sys_user u left join password_manage_user  pu on u.user_id = pu.sys_user_id) t
        on r.user_id = t.password_manage_user_id
        where r.team_id = #{id} and r.is_deleted = 0
    </select>
    
    <select id="selectPasswordManageTeamRoleById" parameterType="Long" resultMap="PasswordManageTeamRoleResult">
        <include refid="selectPasswordManageTeamRoleVo"/>
        where id = #{id}
    </select>

    <insert id="insertPasswordManageTeamRole" parameterType="PasswordManageTeamRole" useGeneratedKeys="true" keyProperty="id">
        insert into password_manage_team_role
            <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="teamName != null and teamName != ''">team_name,</if>
            <if test="teamId != null">team_id,</if>
            <if test="userName != null and userName != ''">user_name,</if>
            <if test="userId != null">user_id,</if>
            <if test="teamRole != null">team_role,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="teamName != null and teamName != ''">#{teamName},</if>
            <if test="teamId != null">#{teamId},</if>
            <if test="userName != null and userName != ''">#{userName},</if>
            <if test="userId != null">#{userId},</if>
            <if test="teamRole != null">#{teamRole},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updatePasswordManageTeamRole" parameterType="PasswordManageTeamRole">
        update password_manage_team_role
            <trim prefix="SET" suffixOverrides=",">
            <if test="teamName != null and teamName != ''">team_name = #{teamName},</if>
            <if test="teamId != null">team_id = #{teamId},</if>
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="teamRole != null">team_role = #{teamRole},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            </trim>
        where id = #{id}
    </update>

    <update id="deletePasswordManageTeamRoleById" parameterType="Long">
        update password_manage_team_role set is_deleted = 1 where team_id = #{teamId} and user_id = #{userId}
    </update>

    <update id="deletePasswordManageTeamAllMember" parameterType="Long">
        update password_manage_team_role set is_deleted = 1 where team_id = #{teamId}
    </update>

    <delete id="deletePasswordManageTeamRoleByIds" parameterType="String">
        delete from password_manage_team_role where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectPasswordManageTeamList" parameterType="Long" resultMap="PasswordManageTeamResult">
        select t.id,t.team_name,t.user_name,t.nick_name,t.remark,t.create_user_id
        from password_manage_team_role r left join password_manage_team t on t.id = r.team_id
        where r.user_id = #{id} and r.is_deleted = 0
    </select>

    <select id="selectTeamRoleOfMember" >
        select team_role from password_manage_team_role
        where team_id = #{teamId} and user_id = #{userId} and is_deleted = 0
    </select>
</mapper>