<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.password_manage.mapper.PasswordManageTeamRoleMapper">
    
    <resultMap type="PasswordManageTeamRole" id="PasswordManageTeamRoleResult">
        <result property="id"    column="id"    />
        <result property="teamName"    column="team_name"    />
        <result property="teamId"    column="team_id"    />
        <result property="userName"    column="user_name"    />
        <result property="userId"    column="user_id"    />
        <result property="teamRole"    column="team_role"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectPasswordManageTeamRoleVo">
        select id, team_name, team_id, user_name, user_id, team_role, is_deleted, create_time, update_time from password_manage_team_role
    </sql>

    <select id="selectPasswordManageTeamRoleList" parameterType="PasswordManageTeamRole" resultMap="PasswordManageTeamRoleResult">
        <include refid="selectPasswordManageTeamRoleVo"/>
        <where>  
            <if test="teamName != null  and teamName != ''"> and team_name like concat('%', #{teamName}, '%')</if>
            <if test="teamId != null "> and team_id = #{teamId}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="teamRole != null "> and team_role = #{teamRole}</if>
            <if test="isDeleted != null "> and is_deleted = #{isDeleted}</if>
        </where>
    </select>
    
    <select id="selectPasswordManageTeamRoleById" parameterType="Long" resultMap="PasswordManageTeamRoleResult">
        <include refid="selectPasswordManageTeamRoleVo"/>
        where id = #{id}
    </select>

    <insert id="insertPasswordManageTeamRole" parameterType="PasswordManageTeamRole" useGeneratedKeys="true" keyProperty="id">
        insert into password_manage_team_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="teamName != null and teamName != ''">team_name,</if>
            <if test="teamId != null">team_id,</if>
            <if test="userName != null and userName != ''">user_name,</if>
            <if test="userId != null">user_id,</if>
            <if test="teamRole != null">team_role,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="teamName != null and teamName != ''">#{teamName},</if>
            <if test="teamId != null">#{teamId},</if>
            <if test="userName != null and userName != ''">#{userName},</if>
            <if test="userId != null">#{userId},</if>
            <if test="teamRole != null">#{teamRole},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updatePasswordManageTeamRole" parameterType="PasswordManageTeamRole">
        update password_manage_team_role
        <trim prefix="SET" suffixOverrides=",">
            <if test="teamName != null and teamName != ''">team_name = #{teamName},</if>
            <if test="teamId != null">team_id = #{teamId},</if>
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="teamRole != null">team_role = #{teamRole},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePasswordManageTeamRoleById" parameterType="Long">
        delete from password_manage_team_role where id = #{id}
    </delete>

    <update id="deletePasswordManageTeamAllMember" parameterType="Long">
        update password_manage_team_role set is_deleted = 1 where team_id = #{teamId}
    </update>

    <delete id="deletePasswordManageTeamRoleByIds" parameterType="String">
        delete from password_manage_team_role where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>