<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.password_manage.mapper.PasswordManageTeamCredentialMapper">
    
    <resultMap type="PasswordManageTeamCredential" id="PasswordManageTeamCredentialResult">
        <result property="id"    column="id"    />
        <result property="teamId"    column="team_id"    />
        <result property="platformName"    column="platform_name"    />
        <result property="accountIv"    column="account_iv"    />
        <result property="accountCipher"    column="account_cipher"    />
        <result property="passwordIv"    column="password_iv"    />
        <result property="passwordCipher"    column="password_cipher"    />
        <result property="createTime"    column="create_time"    />
        <result property="isDeleted"    column="is_deleted"    />
    </resultMap>

    <sql id="selectPasswordManageTeamCredentialVo">
        select id, team_id, platform_name, account_iv, account_cipher, password_iv, password_cipher, create_time, is_deleted from password_manage_team_credential
    </sql>

    <select id="selectPasswordManageTeamCredentialList" parameterType="PasswordManageTeamCredential" resultMap="PasswordManageTeamCredentialResult">
        <include refid="selectPasswordManageTeamCredentialVo"/>
        where team_id = #{teamId} and is_deleted = 0
    </select>
    
    <select id="selectPasswordManageTeamCredentialById" parameterType="Long" resultMap="PasswordManageTeamCredentialResult">
        <include refid="selectPasswordManageTeamCredentialVo"/>
        where id = #{id}
    </select>

    <insert id="insertPasswordManageTeamCredential" parameterType="PasswordManageTeamCredential">
        insert into password_manage_team_credential
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="teamId != null">team_id,</if>
            <if test="platformName != null and platformName != ''">platform_name,</if>
            <if test="accountIv != null and accountIv != ''">account_iv,</if>
            <if test="accountCipher != null and accountCipher != ''">account_cipher,</if>
            <if test="passwordIv != null and passwordIv != ''">password_iv,</if>
            <if test="passwordCipher != null and passwordCipher != ''">password_cipher,</if>
            <if test="createTime != null">create_time,</if>
            <if test="isDeleted != null">is_deleted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="teamId != null">#{teamId},</if>
            <if test="platformName != null and platformName != ''">#{platformName},</if>
            <if test="accountIv != null and accountIv != ''">#{accountIv},</if>
            <if test="accountCipher != null and accountCipher != ''">#{accountCipher},</if>
            <if test="passwordIv != null and passwordIv != ''">#{passwordIv},</if>
            <if test="passwordCipher != null and passwordCipher != ''">#{passwordCipher},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
         </trim>
    </insert>

    <select id="selectPasswordManageTeamCredential" resultMap="PasswordManageTeamCredentialResult">
        select id, team_id, platform_name, account_iv, account_cipher, password_iv, password_cipher
        from password_manage_team_credential
        <where>
            <if test="teamId != null">
                and team_id = #{teamId}
            </if>
            <if test="platformName != null and platformName != ''">
                and platform_name like concat('%', #{platformName}, '%')
            </if>
        </where>
        and is_deleted = 0
    </select>


    <update id="updatePasswordManageTeamCredential" parameterType="PasswordManageTeamCredential">
        update password_manage_team_credential
        <trim prefix="SET" suffixOverrides=",">
            <if test="teamId != null">team_id = #{teamId},</if>
            <if test="platformName != null and platformName != ''">platform_name = #{platformName},</if>
            <if test="accountIv != null and accountIv != ''">account_iv = #{accountIv},</if>
            <if test="accountCipher != null and accountCipher != ''">account_cipher = #{accountCipher},</if>
            <if test="passwordIv != null and passwordIv != ''">password_iv = #{passwordIv},</if>
            <if test="passwordCipher != null and passwordCipher != ''">password_cipher = #{passwordCipher},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
        </trim>
        where id = #{id}
    </update>

    <!-- <delete id="deletePasswordManageTeamCredentialById" parameterType="Long">
        delete from password_manage_team_credential where id = #{id}
    </delete> -->

    <update id="deletePasswordManageTeamCredentialById" parameterType="Long">
        update password_manage_team_credential set is_deleted = 1 where id = #{id}
    </update>

    <delete id="deletePasswordManageTeamCredentialByIds" parameterType="String">
        delete from password_manage_team_credential where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>