<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.password_manage.mapper.PasswordManageTeamCredentialMapper">
    
    <resultMap type="PasswordManageTeamCredential" id="PasswordManageTeamCredentialResult">
        <result property="id"    column="id"    />
        <result property="teamId"    column="team_id"    />
        <result property="platformName"    column="platform_name"    />
        <result property="platformAddress"    column="platform_address"    /> 
        <result property="accountSalt"    column="account_salt"    />
        <result property="accountCipher"    column="account_cipher"    />
        <result property="passwordSalt"    column="password_salt"    />
        <result property="passwordCipher"    column="password_cipher"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="updateSysUserId"    column="update_sys_user_id"    />
        <result property="isDeleted"    column="is_deleted"    />
    </resultMap>

    <resultMap type="PasswordManageTeamCredentialVo" id="PasswordManageTeamCredentialVoResult">
        <result property="id"    column="id"    />
        <result property="teamId"    column="team_id"    />
        <result property="platformName"    column="platform_name"    />
        <result property="platformAddress"    column="platform_address"    /> 
        <result property="accountSalt"    column="account_salt"    />
        <result property="accountCipher"    column="account_cipher"    />
        <result property="passwordSalt"    column="password_salt"    />
        <result property="passwordCipher"    column="password_cipher"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="updateSysUserNickName"    column="update_sys_user_nick_name"    />
        <result property="isDeleted"    column="is_deleted"    />
    </resultMap>

    <select id="selectPasswordManageTeamCredentialList" parameterType="Long" resultMap="PasswordManageTeamCredentialVoResult">
        select id, team_id, platform_name, platform_address, account_salt, account_cipher, password_salt, password_cipher, pmtc.create_time, pmtc.update_time, pmtc.remark, is_deleted, su.nick_name as update_sys_user_nick_name from password_manage_team_credential pmtc
            left join sys_user su on pmtc.update_sys_user_id = su.user_id
        where team_id = #{teamId} and is_deleted = 0
    </select>
    
    <select id="selectPasswordManageTeamCredentialById" parameterType="Long" resultMap="PasswordManageTeamCredentialVoResult">
        select id, team_id, platform_name, platform_address, account_salt, account_cipher, password_salt, password_cipher, pmtc.create_time, pmtc.update_time, pmtc.remark, is_deleted, su.nick_name as update_sys_user_nick_name from password_manage_team_credential pmtc
            left join sys_user su on pmtc.update_sys_user_id = su.user_id
        where id = #{id}
    </select>

    <insert id="insertPasswordManageTeamCredential" parameterType="PasswordManageTeamCredential">
        insert into password_manage_team_credential
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="teamId != null">team_id,</if>
            <if test="platformName != null and platformName != ''">platform_name,</if>
            <if test="platformAddress != null and platformAddress != ''">platform_address,</if>
            <if test="accountSalt != null and accountSalt != ''">account_salt,</if>
            <if test="accountCipher != null and accountCipher != ''">account_cipher,</if>
            <if test="passwordSalt != null and passwordSalt != ''">password_salt,</if>
            <if test="passwordCipher != null and passwordCipher != ''">password_cipher,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="updateSysUserId != null and updateSysUserId != ''">update_sys_user_id,</if>
            <if test="isDeleted != null">is_deleted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="teamId != null">#{teamId},</if>
            <if test="platformName != null and platformName != ''">#{platformName},</if>
            <if test="platformAddress != null and platformAddress != ''">#{platformAddress},</if>
            <if test="accountSalt != null and accountSalt != ''">#{accountSalt},</if>
            <if test="accountCipher != null and accountCipher != ''">#{accountCipher},</if>
            <if test="passwordSalt != null and passwordSalt != ''">#{passwordSalt},</if>
            <if test="passwordCipher != null and passwordCipher != ''">#{passwordCipher},</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="updateSysUserId != null and updateSysUserId != ''">#{updateSysUserId},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
         </trim>
    </insert>

    <select id="selectPasswordManageTeamCredentialFuzzyList" resultMap="PasswordManageTeamCredentialResult">
        select id, team_id, platform_name, platform_address, account_Salt, account_cipher, password_Salt, password_cipher, remark
        from password_manage_team_credential
        <where>
            <if test="teamId != null">
                and team_id = #{teamId}
            </if>
            <if test="platformName != null and platformName != ''">
                and platform_name like concat('%', #{platformName}, '%')
            </if>
            <if test="platformAddress != null and platformAddress != ''">
                and platform_address like concat('%', #{platformAddress}, '%')
            </if>
        </where>
        and is_deleted = 0
    </select>


    <update id="updatePasswordManageTeamCredential" parameterType="PasswordManageTeamCredential">
        update password_manage_team_credential
        <trim prefix="SET" suffixOverrides=",">
            <if test="teamId != null">team_id = #{teamId},</if>
            <if test="platformName != null and platformName != ''">platform_name = #{platformName},</if>
            <if test="platformAddress != null and platformAddress != ''">platform_address = #{platformAddress},</if>
            <if test="accountSalt != null and accountSalt != ''">account_salt = #{accountSalt},</if>
            <if test="accountCipher != null and accountCipher != ''">account_cipher = #{accountCipher},</if>
            <if test="passwordSalt != null and passwordSalt != ''">password_salt = #{passwordSalt},</if>
            <if test="passwordCipher != null and passwordCipher != ''">password_cipher = #{passwordCipher},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
        </trim>
        where id = #{id} and is_deleted = 0
    </update>

    <update id="deletePasswordManageTeamCredentialById" parameterType="Long">
        update password_manage_team_credential set is_deleted = 1 where id = #{id}
    </update>

    <delete id="deletePasswordManageTeamCredentialByIds" parameterType="String">
        delete from password_manage_team_credential where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>