<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.password_manage.mapper.PasswordManageUserMapper">
    
    <resultMap type="PasswordManageUser" id="PasswordManageUserResult">
        <result property="id"    column="id"    />
        <result property="sysUserId"    column="sys_user_id"    />
        <result property="randomSalt"    column="random_salt"    />
        <result property="encryptedVaultIv"    column="encrypted_vault_iv"    />
        <result property="encryptedVaultCipher"    column="encrypted_vault_cipher"    />
    </resultMap>

    <sql id="selectPasswordManageUser">
        select id, sys_user_id, random_salt, encrypted_vault_iv, encrypted_vault_cipher from password_manage_user
    </sql>

    <select id="selectPasswordManageUserList" parameterType="PasswordManageUser" resultMap="PasswordManageUserResult">
        <include refid="selectPasswordManageUser"/>
        <where>  
            <if test="sysUserId != null "> and sys_user_id = #{sysUserId}</if>
            <if test="randomSalt != null  and randomSalt != ''"> and random_salt = #{randomSalt}</if>
            <if test="encryptedVaultIv != null  and encryptedVaultIv != ''"> and encrypted_vault_iv = #{encryptedVaultIv}</if>
            <if test="encryptedVaultCipher != null  and encryptedVaultCipher != ''"> and encrypted_vault_cipher = #{encryptedVaultCipher}</if>
        </where>
    </select>
    
    <select id="selectPasswordManageUserById" parameterType="Long" resultMap="PasswordManageUserResult">
        <include refid="selectPasswordManageUser"/>
        where id = #{id}
    </select>

    <select id="selectPasswordManageUserByUserId" parameterType="Long" resultMap="PasswordManageUserResult">
        <include refid="selectPasswordManageUser"/>
        where sys_user_id = #{userId}
    </select>
    
    <insert id="insertPasswordManageUser" parameterType="PasswordManageUser" useGeneratedKeys="true" keyProperty="id">
        insert into password_manage_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sysUserId != null">sys_user_id,</if>
            <if test="randomSalt != null and randomSalt != ''">random_salt,</if>
            <if test="encryptedVaultIv != null">encrypted_vault_iv,</if>
            <if test="encryptedVaultCipher != null">encrypted_vault_cipher,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sysUserId != null">#{sysUserId},</if>
            <if test="randomSalt != null and randomSalt != ''">#{randomSalt},</if>
            <if test="encryptedVaultIv != null">#{encryptedVaultIv},</if>
            <if test="encryptedVaultCipher != null">#{encryptedVaultCipher},</if>
         </trim>
    </insert>

    <update id="updatePasswordManageUser" parameterType="PasswordManageUser">
        update password_manage_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="sysUserId != null">sys_user_id = #{sysUserId},</if>
            <if test="randomSalt != null and randomSalt != ''">random_salt = #{randomSalt},</if>
            <if test="encryptedVaultIv != null">encrypted_vault_iv = #{encryptedVaultIv},</if>
            <if test="encryptedVaultCipher != null">encrypted_vault_cipher = #{encryptedVaultCipher},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePasswordManageUserById" parameterType="Long">
        delete from password_manage_user where id = #{id}
    </delete>

    <delete id="deletePasswordManageUserByIds" parameterType="String">
        delete from password_manage_user where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>