<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.password_manage.mapper.PasswordManageTeamTmpAppointMapper">

    <resultMap type="PasswordManageTeamTmpAppoint" id="PasswordManageTeamTmpAppointResult">
        <result property="id" column="id"/>
        <result property="teamId" column="team_id"/>
        <result property="sysusrId" column="sysusr_id"/>
        <result property="encryptedCipher" column="encrypted_cipher"/>
        <result property="teamRole" column="team_role"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectAllProperies">
        select id, team_id, sysusr_id, encrypted_cipher, is_deleted, create_time, update_time from password_manage_team_tmp_appoint
    </sql>


    <insert id="insertPasswordManageTeamTmpAppoint" parameterType="PasswordManageTeamTmpAppoint">
        insert into password_manage_team_tmp_appoint
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="teamId != null and teamId != ''">team_id,</if>
            <if test="sysusrId != null">sysusr_id,</if>
            <if test="encryptedCipher != null and encryptedCipher != ''">encrypted_cipher,</if>
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="teamId != null and teamId != ''">#{teamId},</if>
            <if test="sysusrId != null">#{sysusrId},</if>
            <if test="encryptedCipher != null and encryptedCipher != ''">#{encryptedCipher},</if>
        </trim>
    </insert>

    <select id="selecTeamTmpAppointBySysusrId" parameterType="Long" resultMap="PasswordManageTeamTmpAppointResult">
        <include refid="selectAllProperies"/>
        where sysusr_id = #{sysusrId}
    </select>


</mapper>