<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.errorcode.mapper.ErrorSeverityMapper">
    
    <resultMap type="ErrorSeverity" id="ErrorSeverityResult">
        <result property="id"    column="id"    />
        <result property="severityCode"    column="severity_code"    />
        <result property="severityName"    column="severity_name"    />
        <result property="description"    column="description"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectErrorSeverityVo">
        select id, severity_code, severity_name, description, status, del_flag,
               create_by, create_time, update_by, update_time
        from error_severity
    </sql>

    <select id="selectErrorSeverityList" parameterType="ErrorSeverity" resultMap="ErrorSeverityResult">
        <include refid="selectErrorSeverityVo"/>
        <where>  
            del_flag = 0
            <if test="severityCode != null "> and severity_code = #{severityCode}</if>
            <if test="severityName != null  and severityName != ''"> and severity_name like concat('%', #{severityName}, '%')</if>
            <if test="description != null  and description != ''"> and description like concat('%', #{description}, '%')</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
            <if test="params.beginUpdateTime != null and params.beginUpdateTime != '' and params.endUpdateTime != null and params.endUpdateTime != ''"> and update_time between #{params.beginUpdateTime} and #{params.endUpdateTime}</if>
        </where>
    </select>
    
    <select id="selectErrorSeverityById" parameterType="Long" resultMap="ErrorSeverityResult">
        <include refid="selectErrorSeverityVo"/>
        where id = #{id} and del_flag = 0
    </select>

    <insert id="insertErrorSeverity" parameterType="ErrorSeverity" useGeneratedKeys="true" keyProperty="id">
        insert into error_severity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="severityCode != null">severity_code,</if>
            <if test="severityName != null and severityName != ''">severity_name,</if>
            <if test="description != null">description,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="severityCode != null">#{severityCode},</if>
            <if test="severityName != null and severityName != ''">#{severityName},</if>
            <if test="description != null">#{description},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateErrorSeverity" parameterType="ErrorSeverity">
        update error_severity
        <trim prefix="SET" suffixOverrides=",">
            <if test="severityCode != null">severity_code = #{severityCode},</if>
            <if test="severityName != null and severityName != ''">severity_name = #{severityName},</if>
            <if test="description != null">description = #{description},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="deleteErrorSeverityById" parameterType="Long">
        update error_severity
        set del_flag = id
        where id = #{id}
          and del_flag = 0
    </update>

    <update id="deleteErrorSeverityByIds" parameterType="String">
        update error_severity
        set del_flag = id
        where del_flag = 0
        and id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>
