<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.errorcode.mapper.ErrorSystemMapper">
    
    <resultMap type="ErrorSystem" id="ErrorSystemResult">
        <result property="id"    column="id"    />
        <result property="systemCode"    column="system_code"    />
        <result property="systemName"    column="system_name"    />
        <result property="description"    column="description"    />
        <result property="status"    column="status"    />
        <result property="version"    column="version"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectErrorSystemVo">
        select id, system_code, system_name, description, status, version, del_flag,
               create_by, create_time, update_by, update_time
        from error_system
    </sql>

    <select id="selectErrorSystemList" parameterType="ErrorSystem" resultMap="ErrorSystemResult">
        <include refid="selectErrorSystemVo"/>
        <where>  
            del_flag = 0
            <if test="systemCode != null  and systemCode != ''"> and system_code like concat('%', #{systemCode}, '%')</if>
            <if test="systemName != null  and systemName != ''"> and system_name like concat('%', #{systemName}, '%')</if>
            <if test="description != null  and description != ''"> and description like concat('%', #{description}, '%')</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
            <if test="params.beginUpdateTime != null and params.beginUpdateTime != '' and params.endUpdateTime != null and params.endUpdateTime != ''"> and update_time between #{params.beginUpdateTime} and #{params.endUpdateTime}</if>
        </where>
    </select>
    
    <select id="selectErrorSystemById" parameterType="Long" resultMap="ErrorSystemResult">
        <include refid="selectErrorSystemVo"/>
        where id = #{id} and del_flag = 0
    </select>

    <select id="selectErrorSystemsByIdsForUpdate" resultMap="ErrorSystemResult">
        <include refid="selectErrorSystemVo"/>
        where del_flag = 0
          and id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
        order by id
        for update
    </select>

    <insert id="insertErrorSystem" parameterType="ErrorSystem" useGeneratedKeys="true" keyProperty="id">
        insert into error_system
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="systemCode != null and systemCode != ''">system_code,</if>
            <if test="systemName != null and systemName != ''">system_name,</if>
            <if test="description != null">description,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="systemCode != null and systemCode != ''">#{systemCode},</if>
            <if test="systemName != null and systemName != ''">#{systemName},</if>
            <if test="description != null">#{description},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
         </trim>
    </insert>

    <update id="updateErrorSystem" parameterType="ErrorSystem">
        update error_system
        <trim prefix="SET" suffixOverrides=",">
            <if test="systemCode != null and systemCode != ''">system_code = #{systemCode},</if>
            <if test="systemName != null and systemName != ''">system_name = #{systemName},</if>
            <if test="description != null">description = #{description},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            version = version + 1
        </trim>
        where id = #{id} and del_flag = 0 and version = #{version}
    </update>

    <update id="deleteErrorSystemById" parameterType="Long">
        update error_system
        set del_flag = id
        where id = #{id} and del_flag = 0
    </update>

    <update id="deleteErrorSystemByIds" parameterType="String">
        update error_system
        set del_flag = id
        where del_flag = 0
        and id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>
